body{
	background-color:#000000;
	text-align: center;
	width: 1000px;
}

h1{
	color: #0FFE45;
	font-family: "Verdana", sans-serif;
}
h2{
	color: #0FFE45;
}
h3{
	color: #0FFE45;
}
#storm{
	width: 100px;
}
.centering{
	display:block;
	margin-left: auto;
	margin-right: auto;
}
p{
	color: #0FFE45;
}
ol{
	color: #0FFE45;
}
ul{
	color: #0FFE45;
}